@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    background-image: linear-gradient(to bottom, rgb(11, 146, 79), rgb(6, 63, 29));
    color: white;

}
header > h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
    font-style: normal;
    text-align: center;
    margin: 0px;
    padding: 30px;
  
}
header > p {
    text-align: center;
    margin-bottom: 40px;
}

nav > a {
    color: white;
    text-decoration: none;
    margin-left: 45px;
    font-weight: bold;

}

article > h2, h3 {
    color:rgb(6, 63, 29);
    font-family: 'Audiowide', sans-serif;
}
mark > article > h2, h3 {
    background-color: rgba(82, 255, 47, 0.493);
}
main {
    margin: auto;
    padding: 0px 250px 0px 250px;
    background-color: rgb(196, 255, 206);

}

article {
    background-color: white;
}

article > iframe {
    background-color: rgb(6, 63, 29);
}